.template-tabs {
  @include justify-content(center);
  border-top: 2px solid #e8e7e8;
  border-bottom: 2px solid #e8e7e8;
  margin: 24px 0 0;

  .nav-item {
    margin-bottom: -2px;
  }

  .nav-link {
    border: none;
    font-size: 1.1rem;
    padding: 0.8rem 1rem;
    border-radius: 0;

    &.active {
      box-shadow: inset 0 -4px 0 0 #000;
    }
  }
}
