.page-404 {
  @include display-flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  height: 100vh;

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .btn {
    padding: 1rem 3rem;
  }

}
